#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin-top: 40px;
  color: white;

  @media (max-width: 768px) {
    grid-template-columns: auto;
  }

}

.grid-child {
  border: 0px solid rgba(185, 28, 28);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgba(236, 71, 85, 0.9);

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.grid-child:hover {
  background-color: whitesmoke;
  color: rgba(161, 44, 52);
  border: 0px solid #212121;
}

.grid-child h3 {
  font-family: Poppins;
  font-weight: 700;
  color: black;
}

.grid-child p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
}